.gaming * {
 display: inline-block;
}

.gaming {

}
.gaming-text {
 font-size: 16vw;
 align-items: start;
}

.gaming p {
 padding: 0;
 text-align: left;
 font-size: 2vw;
}

.montece {
 width:100%;
 height:100%;
 font-size:19vw;
}

.main-div {
 /*padding-top:10%;*/
 padding-right: 5%;
 padding-left: 5%;
 padding-bottom: 10%;

}

.main-div * {
 display: flex;
 align-items: center;
 justify-content: center;
 font-style: normal;
 font-weight: 600;

 background: linear-gradient(112.54deg, #39E639 35.34%, #9AEB9A 106.84%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.toggler {
  padding-top: 30px;
}

.toggler img {

}