.contact-grid {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: 5px auto;
    text-align: start;
    grid-column: 1/2;
}

.contact-linedots {
    display: grid;
    grid-template-columns: 10vw repeat(6, 5px);
    grid-template-rows: auto;
    align-items: end;
}

.contact-line {
    border-left: 5px solid #39e43a;
    border-top: 5px solid #39e43a;
}

.contact-dot {
    height: 5px;
    width: 5px;
    background-color: #39e43a;
}

.contact-vline {
    grid-column: 1/2;
    grid-row: 2/3;
    border-left: 5px solid #39e43a;
    height: 10vw;
}

.contact-email {
    padding-top: 30px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.colored {
    background: linear-gradient(to right, #39E639 0.34%, #9AEB9A 60.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-name {
    display: flex;
    /*align-self: end;*/

}

.contact-name p {
    /*align-self: end;*/
    font-size: 2vw;

}