.teammate-frame {
    text-align: center;
    border: 5px solid #39e43a;
    display: grid;
    grid-template-rows: auto auto auto;
}

.teammate-photo {
    width: 15vw;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    padding-top: 15px;
    align-self: center;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

.teammate-header {
    padding-top: 15px;
    background: linear-gradient(112.54deg, #39E639 35.34%, #9AEB9A 106.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.teammate-header, .teammate-status {
    /* 21 год, программист, team-lead */


    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #39E639;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.teammate-status {
    font-size: 14px;
}