.news-header {
    text-align: center;
}

.news-header h1 {
    font-weight: 700;
    background: linear-gradient(to right, #39E639 20.34%, #9AEB9A 106.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news {
    padding-top: 200px;
    padding-left: 5%;
    padding-right: 5%;
}

.posts-button {
    background: linear-gradient(to right, #39E639 20.34%, #9AEB9A 106.84%);
    border: 3px solid black;
    outline: 1px solid #39E639;
    width: 30%;
    height: 50px;
}

.posts-button span {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 800;
    font-size: 1em;
    color: black;
    background: none;
}